/.idea/
/venv/
/__pycache__/
/project.migrations/
/VM/.vm-venv/
/VM/femm_generate_files/
/VM/build/simulation/Analysis-00.toc
/VM/build/simulation/base_library.zip
/server/static/image_test/EFICIENCIA.png
/VM/build/simulation/EXE-00.toc
/VM/dist/log-simulacao_.txt
/server/static/image_test/M0.png
/VM/20-07-2024_16-40-33-8052/M0.png
/server/static/image_test/M1.png
/server/static/image_test/M2.png
/server/static/image_test/M3.png
/VM/femm_files/Motor_Teste1.FEM
/VM/build/simulation/PKG-00.toc
/VM/dist/progress_simulation.txt
/VM/build/simulation/PYZ-00.pyz
/VM/build/simulation/PYZ-00.toc
/VM/simulation.exe
/VM/build/simulation/simulation.pkg
/VM/simulation.spec
/server/static/image_test/T0.png
/VM/20-07-2024_16-40-33-8052/T0.png
/server/static/image_test/T1.png
/server/static/image_test/T2.png
/server/static/image_test/T3.png
/VM/femm_files/temp.ans
/VM/femm_files/temp.fem
/VM/femm_files/temp.pbc
/VM/femm_files/temp.poly
/server/static/image_test/TEMPERATURA.png
/server/static/image_test/TENSAO.png
/server/static/image_test/TERMICO.png
/VM/femm_files/Termico_Teste1.FEH
/VM/build/simulation/Tree-00.toc
/VM/build/simulation/Tree-01.toc
/VM/build/simulation/Tree-02.toc
/server/static/image_test/VELOCIDADE.png
/VM/build/simulation/warn-simulation.txt
/VM/build/simulation/xref-simulation.html
