<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Att automatico</title>
</head>
<body>
    <h3>Atualizando...</h3>
    <div id="teste-div">
        NADA
    </div>
    <button id="teste-button">
        CLICA AI DESGRAÇADO!
    </button>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/test_socket.js') }}"></script>
</body>
</html>