.btn-w {
  width: 180px;
}

.btn2 {
  background: none;
  border: 1px solid #cccccc; /* lighten(gray, 24%) */
  height: 40px;
  padding: 0 24px 0 16px;
  letter-spacing: 0.25px;
  cursor: pointer;
}

.btn2:focus {
  outline: none;
}

.btn2 .mdi {
  margin-right: 0px;
}

.btn-delete {
  font-size: 16px;
  color: red;
}

.btn-delete > .mdi-delete-empty {
  display: none;
}

.btn-delete > .mdi-delete {
  display: inline;
}

.btn-delete:hover > .mdi-delete-empty {
  display: inline;
}

.btn-delete:hover > .mdi-delete {
  display: none;
}

.btn-delete:hover {
  background-color: #ffcccc; /* lighten(red, 48%) */
}

.btn-delete:focus {
  box-shadow: 0 0 0 4px #ff9999; /* lighten(red, 40%) */
}
